.card {

	width: 500px;
}

.img-fluid {

	margin-top: 100px;
	margin-bottom: 50px;
}



.alert-secondary {

	margin-bottom: 90px;
	margin-top: 50px;
	text-align: center;
	font-size: 23px;
	font-style: italic;
	font-family: Georgia;

}


.card-img-top {

	height: 200px;
	width: 200px;
	margin-left: 150px;
	border: 2px solid black;
	box-shadow: 8px 8px 0px #e3e6ea;

}



.card-title {

	font-weight: bold;
}

h5 {

	text-align: center;
}




p {

	text-align: justify;
}



