.search {
  width: 140px;
  margin-right: 1%;
}

.post h1 {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}
.post h1 a{

  text-decoration: none;
}

.gris {
  color: gray;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.gris span {
  font-family: FontAwesome;
  font-size: 5rem;
  color: #B6B6B6;
  line-height: 0;
  letter-spacing: -10px;
  margin-right: 10px;
  text-align: center;
}

.footer {
  line-height: 1;
  text-align: center;
}

.footer  a {
  text-decoration: none;
  list-style: none;
}
footer nav li{
  display: inline;
}
footer nav li span{  
  font-family: FontAwesome;
  font-size: 5rem;
  color: #B6B6B6;
  line-height: 0;
  letter-spacing: -10px;
  margin-right: 10px;
  text-align: center;
}

.redaction h3 {
  margin-left: 1%;
  font-family: 'Quicksand', sans-serif;
}

.container-fluid {
  margin-left: 3%;
  margin-right: 3%;
}

.social .partage img {
  width: 30px;
}


.social .partage {
  display: flex;
  justify-content: space-between;
  align-items: center;
    margin-left: 3%;
  margin-right: 3%;
}

.tag {
  margin-left: 1%;
}

.tag p a {
  text-decoration: none;
}

.card {
  margin-left: 1%;
  margin-right: 1%;
}

.card-text {
  font-family: 'Quicksand', sans-serif;
}

.card-block {
  max-height: 200px;
  overflow: auto;
}

.card-body img {
  border-radius: 50%;
  width: 50px;
}

.sub-text {
  color: #aaa;
  font-family: 'Quicksand', sans-serif;
  font-size: 11px;
}

.redaction img {
  width: 7%;
}

.redac {
  margin-left: 1%;
  margin-right: 1%;
}

.container-fluid{
    opacity: 0;
    transform: translateX(80%);
}
.container-fluid.is-ready{
    opacity: 1;
    transform: translateX(0);
    transition-duration: 3s;

}
